<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="custom.overlay.certifiedprops">
    <application android:hasCode="false" />
    <overlay
        android:targetPackage="android"
        android:isStatic="true" />
</manifest>
